.preloader {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary;
  z-index: 100;

  &__icon {
    width: 400px;
    height: 185px;

    @include breakpoint(md) {
      width: 300px;
      height: 150px;
    }

    @include breakpoint(sm) {
      width: 250px;
      height: 100px;
    }
  }

  &__icon-block {
    opacity: 0;
  }
}