.info {
  background: #3A91F5 url("./public/images/png/info-bg-line.png") no-repeat 12% 43%;
  background-size: 125%;
  padding: 30px 0;

  &__container {
    max-width: 1095px;
    margin: 0 auto;
    padding: 0 15px;

    @media (max-width: 991px) {
      max-width: 800px;
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -7px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex: 0 0 67%;
    max-width: 67%;
    width: 100%;
    padding: 95px 7px;
  }

  &__content-container {
    display: flex;
  }

  &__title {
    @include text-style(2.75rem, 600, 1em, normal, false, false);

    @media (max-width: 1300px) {
      font-size: 3.4vw;
    }

    margin: 0 0 45px;
  }

  &__numbers {
    flex: 0 0 35%;
    width: auto;
    max-width: 35%;
    padding: 0 40px 0 0;
  }

  &__messages {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
    max-width: 454px;
  }

  &__number {
    margin: 0 0 23px;

    &:last-of-type {
      margin: 0 0 48px;
    }
  }

  &__number-title-container {
    display: flex;
    align-items: center;
  }

  &__number-title {
    @include text-style(2.25rem, 600, 35px, normal, false, false);

    margin: 0 7px 0 0;
  }

  &__number-icon {
    width: 25px;
    height: 25px;
    object-fit: contain;
  }

  &__number-text {
    @include text-style(1rem, 600, 18px, normal, false, false);
  }

  &__logo {
    display: block;
    background: transparent url("./public/images/svg/logo.svg") no-repeat center center;
    background-size: contain;
    width: 147px;
    height: 80px;
  }

  .messages-slider {
    position: relative;
    background-color: $white;
    border-radius: 34px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.1);
    color: #000;
    padding: 21px 20px 34px 28px;

    &::after {
      @include pseudo();

      width: 0;
      height: 0;
      border-top: 24px solid $white;
      border-left: 24px solid transparent;
      top: 99%;
      right: 58px;
    }

    &__container {
      display: flex;
      overflow: hidden;
    }

    &__slide {
      flex: 0 0 100%;
    }

    &__title-container {
      position: relative;
      margin: 0 0 14px;
      padding: 13px 80px 0 0;
    }

    &__title {
      @include text-style(1.25rem, 600, 22px, normal, $purple, false);

      margin: 0 0 22px;
    }

    &__user {
      display: flex;
    }

    &__user-country {
      width: 21px;
      height: 21px;
      object-fit: contain;
      margin: 0 10px 0 0;
    }

    &__user-name {
      @include text-style(1rem, 600, 24px, normal, false, false);
    }

    &__icon {
      position: absolute;
      top: 0;
      right: 0;
    }

    &__text-container {
      @include text-style(1rem, normal, 24px, normal, false, -0.5px);

      padding: 0 30px 0 0;
    }

    &__text {
      margin: 0;

      &:not(:last-child) {
        margin: 0 0 8px;
      }
    }
  }

  &__adding {
    position: relative;

    flex: 0 0 33%;
    max-width: 33%;
    width: 100%;
    padding: 200px 7px 210px;

    &::before, &::after {
      @include pseudo();
    }

    &::before {
      top: 0;
      left: 0;
      background: transparent url("./public/images/png/info-icons-1.png") no-repeat left center;
      background-size: contain;
      width: 100%;
      height: 185px;
    }

    &::after {
      bottom: 0;
      left: 0;
      background: transparent url("./public/images/png/info-icons-2.png") no-repeat 20px center;
      background-size: contain;
      width: 100%;
      height: 185px;
    }
  }

  &__adding-container {
    padding: 0 0 0 15px;
  }

  &__adding-text {
    @include text-style(1rem, 600, 19px, normal, false, false);

    margin: 0 0 20px;
  }

  &__adding-button {
    width: 100%;
  }
}